.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

nav {
    height: 10vh;
}

.navbuttons {
    gap: 1ch;
}

#home {
    height: 80vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home img {
    max-height: 80vh;
    width: auto;
}

#login {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

#events {
    min-height: 80vh;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

